name: Deploy to Production

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  frontend:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci
      - name: Build
        working-directory: ./frontend
        run: npm run build
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_TOKEN }}'
          channelId: live
          projectId: '${{ secrets.GCP_PROJECT_ID }}'
          entryPoint: ./frontend

  backend:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3  
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}' 
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
      - name: Configure Docker authentication
        run: gcloud auth configure-docker us-central1-docker.pkg.dev
      - name: Build Docker image
        working-directory: ./backend
        run: docker build -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/hangman-backend/app:${{ github.sha }} .
  
      - name: Push Docker image
        run: docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/hangman-backend/app:${{ github.sha }}
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy hangman-backend \
          --image us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/hangman-backend/app:${{ github.sha }} \
          --platform managed \
          --region us-central1 \
          --allow-unauthenticated \
          --port 8080 \
          --project ${{ secrets.GCP_PROJECT_ID }}